<div class="row">
  <div class="col-lg-3">
    <div class="panel">
      <div class="panel-heading">
        <h4>LIKES</h4>
      </div>
      <div class="panel-body">
      <table class="table table-striped">
        <tbody>
        <% @liked_products.each do |p| %>
          <tr>
            <td>
              <%= link_to p.name, p.catalog_url %>
              <a class="btn-flat btn-warning"><i class="mdi-navigation-close pull-right"></i></a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h4>NOPES</h4>
      </div>
      <div class="panel-body">
      <table class="table table-striped">
        <tbody>
        <% @noped_products.each do |p| %>
          <tr>
            <td>
              <%= link_to p.name, p.catalog_url %>
              <a class="btn-flat btn-success"><i class="mdi-navigation-check pull-right"></i></a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading">
        <h3><%= @product.name %></h3>
      </div>
      <div class="panel-body">
        <p class="text-muted"><%= @product.description %></p>
        <%= image_tag "#{@product.name}.jpg" %>
        <div class="center-block" id="nope-like-buttons">
          <form class="pull-left" action="/users/1/nopes" method="post">
            <%= tag(:input, :type => 'hidden', :name => 'product_id', :value => @product.id) %>
            <%= tag(:input, :type => 'hidden', :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
            <input class="btn btn-warning" type="submit" value="NOPE">
          </form>
          <form class="pull-right" action="/users/1/likes" method="post">
            <%= tag(:input, :type => 'hidden', :name => 'product_id', :value => @product.id) %>
            <%= tag(:input, :type => 'hidden', :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

            <input class="btn btn-success" type="submit" value="LIKE">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel">
      <div class="panel-heading">
        <h4>MATCHES</h4>
      </div>
      <div class="panel-body">
      <table class="table table-striped">
        <tbody>
        <% @matched_products.each do |p| %>
          <tr>
            <td>
            <%= link_to p.name, p.catalog_url%>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
