<div class="row">
  <div class="col-lg-3">
    <a href="/" class="btn btn-default btn-fab btn-raised pull-right mdi-navigation-arrow-back"><div class="ripple-wrapper"></div></a>
  </div>
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading">
        <h3>MATCHES</h3>
      </div>
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
          <%= @matched_user.email %><span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% @users.each do |u| %>
              <li><a><%= u.email %></a></li>
            <% end %>
          </ul>
          </li>
        </ul>
        </div>
      <table class="table table-striped">
        <tbody>
        <% @matched_products.each do |p| %>
          <tr>
            <td>
              <%= link_to p.name, p.catalog_url%>
            </td>
            <td>
              <%= p.description %>
            </td>
            <td>
              <%= p.article_number %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
